html, body{
	margin: 0px;
	padding: 0px;
}
#content{
	width: 40%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.sample{
	width: 100%;
	position: relative;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: white;
}
	.sample img{
		width: 100%;
	}
	.sample div{
		margin-right: 10%;
		margin-left: 10%;
		padding-right: 4%;
		padding-left: 4%;
		border-left: 4px solid #2e6bad;
	}
		.sample div h2{
			-webkit-margin-before: 0.50em;
    		-webkit-margin-after: 0.25em;
			color: #4a4b4c;
		}
		.sample div p{
			-webkit-margin-before: 0.25em;
    		-webkit-margin-after: 0.30em;
			color: #5b5c5e;
		}
.exampleFrame{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}